<div class="signup-container">
  <h2>新規登録</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%# 名前入力欄 %>
    <p>お名前</p>
    <div class="form-group">
      <%= f.text_field :name, autofocus: true, placeholder: "名前を入力してください", class: "form-control" %>
    </div>

    <div class="field signup-field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '（例）example@gmail.com', :size=>"25x20",  class: "form-control" %>
    </div>

    <div class="field signup-field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>（<%= @minimum_password_length %>文字以内）</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", :size=>"36x20",class: "form-control" %>
    </div>

    <div class="field signup-field ">
      <%= f.label :パスワード（確認用） %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"36x20", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :顔写真 %><br/>
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>

  <div class="signup-login">
    <%= render "devise/shared/links" %>
  </div>

</div>
