<div class="container">

<%= form_with model: @post do |f| %>
  <%# 食べ物 %>
  <%= f.label :食べ物名 %>
  <%= f.text_field :food_name %>
  <%# 店名 %>
  <%= f.label :店名 %>
  <%= f.text_field :store_name %>
  <%# 説明 %>
  <%= f.label :説明 %>
  <%= f.text_area :description %>
  <%# 画像 %>
  <%= f.fields_for :photos do |i| %>
    <%= i.file_field :image %>
  <% end %>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>

</div>
